<div class="bg-white rounded-lg shadow-lg dark:bg-gray-800">
  <div class="pt-3 px-3 pb-3">
    <div class="pb-4">
      <h1 class="text-lg font-bold text-gray-800 dark:text-white">Contacts</h1>
    </div>
    <div class="pb-4">
      <input
        class="rounded-lg w-full border-none bg-gray-100 focus:ring-2 dark:bg-gray-700 focus:ring-blue-400 transition 200ms ease-in dark:text-white"
        type="text" placeholder="Search team or members" [(ngModel)]="query" (ngModelChange)="onFilter()">
    </div>
    <div class="mb-4">
      <ul>
        <li *ngFor="let contact of f_contacts; let i = index">
          <div
            class="flex justify-between py-2 mb-1 rounded cursor-pointer {{ contact === selected && 'bg-blue-100 text-blue-500 dark:bg-blue-700 dark:bg-opacity-40' }} {{ contact !== selected && 'hover:bg-gray-100 dark:hover:bg-gray-700' }}"
            (click)="onSelect(i)">
            <div class="flex">
              <div class="px-3">
                <i
                  class="material-icons text-xs {{ !contact.online ? 'text-gray-200 dark:text-gray-600' : 'text-green-600' }}">circle</i>
              </div>
              <div [class.font-semibold]="contact === selected" class="dark:text-white">
                {{ contact.name }}
              </div>
            </div>
            <div class="px-3 text-gray-500">{{ contact.role }}</div>
          </div>
        </li>
      </ul>
      <div class="flex justify-center font-semi text-lg dark:text-white" *ngIf="f_contacts.length === 0">
        Sorry, no matches...
      </div>
    </div>
  </div>
  <div class="bg-gray-100 rounded-b-lg dark:bg-gray-900">
    <div class="p-3 flex justify-end">
      <button
        class="rounded px-6 py-2 ml-4 bg-blue-600 text-white font-bold hover:bg-blue-800 transition 200ms ease-in dark:bg-blue-800 dark:hover:bg-blue-700">Invite</button>
      <button
        class="rounded px-6 py-2 ml-4 font-bold text-gray-500 hover:bg-gray-200 transition 200ms ease-in dark:hover:bg-gray-800">Cancel</button>
    </div>
  </div>
</div>