<div class="bg-white rounded-lg shadow-lg">
  <div class="pt-3 px-3 pb-3">
    <div class="pb-4">
      <h1 class="text-lg font-bold text-gray-800">Contacts</h1>
    </div>
    <div class="pb-4">
      <input class="rounded-lg w-full border-none bg-gray-100 focus:ring-2 focus:ring-blue-400 transition 200ms ease-in"
        type="text" placeholder="Search team or members" [(ngModel)]="query" (ngModelChange)="onFilter()">
    </div>
    <div class="mb-4">
      <ul>
        <li *ngFor="let contact of f_contacts; let i = index">
          <div
            class="flex justify-between py-2 mb-1 rounded cursor-pointer {{ contact === selected && 'bg-blue-100 text-blue-500' }} {{ contact !== selected && 'hover:bg-gray-100' }}"
            (click)="onSelect(i)">
            <div class="flex">
              <div class="px-3">
                <i class="material-icons text-xs {{ (contact === selected && !contact.online) && 'text-gray-400' }}"
                  [class.text-green-600]="contact.online" [class.text-gray-200]="!contact.online">circle</i>
              </div>
              <div [class.font-semibold]="contact === selected">
                {{ contact.name }}
              </div>
            </div>
            <div class="px-3 text-gray-500">{{ contact.role }}</div>
          </div>
        </li>
      </ul>
      <div class="flex justify-center font-semi text-lg" *ngIf="f_contacts.length === 0">
        Sorry, no matches...
      </div>
    </div>
  </div>
  <div class="bg-gray-100 rounded-b-lg">
    <div class="p-3 flex justify-end">
      <button
        class="rounded px-6 py-2 ml-4 font-bold text-gray-500 hover:bg-gray-200 transition 200ms ease-in">Cancel</button>
      <button
        class="rounded px-6 py-2 ml-4 bg-blue-600 text-white font-bold hover:bg-blue-800 transition 200ms ease-in">Invite</button>
    </div>
  </div>
</div>